<html>
<body>
<br>
<h> Student Description </h><br>
<h>-------------------------------</h><br>

{% for i in stu_val %}
{{i.stu_name}} , {{i.stu_course}}   {{i.stu_des}}</br>
{% endfor %}



<!--{% for i in a %}
<img src="/media/{{i.photo}}" width='400'/>, {{i.name}}
{% end for %}-->
</body>
</html>