<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
{%get_static_prefix as YUM %}

<!DOCTYPE HTML>
<html>
<head>
<title>| Login</title>
<link href="{{YUM}}css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href='{{YUM}}http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
</head>
<body>
<div class="wrap">
<!-- strat-contact-form -->	
<div class="contact-form">
<!-- start-form -->
	<form class="contact_form" action="{{YUM}}#" method="post" name="contact_form">
	{% csrf_token %}
		<h1>Login Into Your Account</h1>
	    <ul>
	        <li>
	            <input type="email" class="textbox1" name="email" placeholder="E-mail" required />
	            <span class="form_hint">Enter a valid email</span>
	             <p><img src="{{YUM}}images/contact.png" alt=""></p>
	        </li>
	        <li>
	            <input type="password" name="website" class="textbox2" placeholder="password">
	            <p><img src="{{YUM}}images/lock.png" alt=""></p>
	        </li>
         </ul>
       	 	<input type="submit" name="Sign In" value="Sign In"/> 
			<div class="clear"></div>	
			<label class="checkbox"><input type="checkbox" name="checkbox" checked><i></i>Remember me</label>
		<div class="forgot">
			<a href="{{YUM}}#">forgot password?</a>
		</div>	
		<div class="clear"></div>	
	</form>
<!-- end-form -->
<!-- start-account -->
<div class="account">
	<h2><a href="{{YUM}}signup.html">Don't have an account? Sign Up!</a></h2>
    <div class="span"><a href="#"><img src="{{YUM}}images/facebook.png" alt=""/><i>Sign In with Facebook</i><div class="clear"></div></a></div>	
    <div class="span1"><a href="{{YUM}}#"><img src="{{YUM}}images/github.png" alt=""/><i>Sign In with Github</i><div class="clear"></div></a></div>
    <div class="span2"><a href="{{YUM}}#"><img src="{{YUM}}images/gplus.png" alt=""/><i>Sign In with Google+</i><div class="clear"></div></a></div>
</div>	
<!-- end-account -->
<div class="clear"></div>	
</div>
<!-- end-contact-form -->
</div>
</body>
</html>
