{% load static %}
{%get_static_prefix as YUM %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- templatemo 417 grill -->
<!-- 
Grill Template 
http://www.templatemo.com/preview/templatemo_417_grill 
-->
    <head>
        <meta charset="utf-8">
        <title>Expert Panel</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        
        <link href='{{YUM}}http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{{YUM}}css/bootstrap.css">
        <link rel="stylesheet" href="{{YUM}}css/font-awesome.css">
        <link rel="stylesheet" href="{{YUM}}css/templatemo_style.css">
        <link rel="stylesheet" href="{{YUM}}css/templatemo_misc.css">
        <link rel="stylesheet" href="{{YUM}}css/flexslider.css">
        <link rel="stylesheet" href="{{YUM}}css/testimonails-slider.css">

        <script src="{{YUM}}js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

            <header>
                <div id="top-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="home-account">
                                    <a href="{{YUM}}login.html">Login</a>
                                    <a href="{{YUM}}signup.html">Register</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cart-info">
                                    <i class="fa fa-shopping-cart"></i>
                                    <a href="{{YUM}}#">Limited Offer !! Grab Your Project at Rs.1000</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="main-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="logo">
                                    <a href="{{YUM}}#"><img src="{{YUM}}images/logo_new.png" title="Student Idea" alt="" ></a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="main-menu">
                                    <ul>
                                        <li><a href="{{YUM}}index.html">Home</a></li>
                                        <li><a href="{{YUM}}project.html">Project</a></li>
                                        <li><a href="{{YUM}}#">Batti Jalao !!</a></li>
                                        <li><a href="{{YUM}}helpinghand.html">Helping Hand</a></li>
                                        <li><a href="{{YUM}}contact-us.html">Expert Panel</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="search-box">  
                                    <form name="search_form" method="get" class="search_form">
                                        <input id="search" type="text" />
                                        <input type="submit" id="search-button" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>


            <div id="heading">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-content">
                                <h2>Projects</h2>
                                <span>Postgraduate/ <a href="{{YUM}}project_mca.html">MCA</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Projects
                    <small>MCA</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{YUM}}index.html">Home</a>
                    </li>
                    <li class="active">MCA</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

     <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="{{YUM}}portfolio-item.html">
                    <img class="img-responsive img-hover" src="{{YUM}}images/mb.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Online Medical Booking System</h3>
                <h4>Platform: JSP and Servlet (Web Base)</h4>
                <p>Project Synopsis:  It is a web base project to maintain the online appointment with a doctor and patient. Patient can book a appointment date and time with a particular doctor through online. Also there are many numbers of users as nurse, receptionist, medical sells representative, secretary and Admin. The back end data base we use for this project is MY SQL. And the framework we use for this project is spring and Hibernate.</p>
                <a class="btn btn-primary" href="{{YUM}}portfolio-item.html">View Project</i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <a href="{{YUM}}portfolio-item.html">
                    <img class="{{YUM}}img-responsive img-hover" src="{{YUM}}images/ol.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Chat Management System</h3>
                <h4> JAVA (Applet)</h4>
                <p>Project Synopsis: It is a java applet base project to maintain the all functionality of a chat system to send text message and smiley with different sounds to the other users. The back end data base we in this application is MY SQL.</p>
                <a class="btn btn-primary" href="{{YUM}}portfolio-item.html">View Project</i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="{{YUM}}portfolio-item.html">
                    <img class="{{YUM}}img-responsive img-hover" src="{{YUM}}images/lib.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Library Management System</h3>
                <h4> Java language ,Net beans IDE 7.0.1MS ,SQL server 2005</h4>
                <p>The main of Library Management application is to keep the book in the proper format with its complete details including Author and the person who is issuing this book. Everything is managed from the database. We need to maintain the book cost and to check whether the books are available on the library or not.!</p>
                <a class="btn btn-primary" href="{{YUM}}portfolio-item.html">View Project</i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">

            <div class="col-md-7">
                <a href="{{YUM}}portfolio-item.html">
                    <img class="img-responsive img-hover" src="{{YUM}}images/index.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Internet banking system</h3>
                <h4> JAVA servlets JSP</h4>
                <p>Internet Banking System Project is the application that used for dealing bank work by seating at home, or telephone banking. In this we access all the information about the bank that a bank computer can have. In case of telephone banking you can give appropriate instruction to the bank to handle your account on telephone.To access these feature you must be registered then only you will have your username and password.If you don’t have username and password you can access your account. These online features are available 24 hours. You can check your balance, last transaction, print statements, purchase anything and pay directly from your account with the help of credit card. Now you don’t need to look for working hours of the bank and go the bank.</p>
                <a class="btn btn-primary" href="{{YUM}}portfolio-item.html">View Project</i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Five -->
        <div class="row">
            <div class="col-md-7">
                <a href="{{YUM}}#">
                    <img class="img-responsive img-hover" src="{{YUM}}images/el.png" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Interactive Web-based Guideline for the Efficiency of Household Electric Power Consumption</h3>
                <h4>Java and HTML</h4>
                <p>The purpose of this project was to build electric energy calculator using practical saving potentials and factors evaluated from the AMR metered household electric energy consumptions.The practical factors used in the calculator are evaluated from the data analysis of one year AMR metered consumption and statistical survey of households from Kajaani and Savo areas of central Finland. These factors, listed in Table 1, are obtained from the study work named ‘Energy Efficiency Analysis of Residential Electric End-Uses: Based on Statistical Survey and Hourly Metered Data’, which was conducted under ENETE project.</p>
                <a class="btn btn-primary" href="{{YUM}}#">View Project</i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="{{YUM}}#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="{{YUM}}#">1</a>
                    </li>
                    <li>
                        <a href="{{YUM}}#">2</a>
                    </li>
                    <li>
                        <a href="{{YUM}}#">3</a>
                    </li>
                    <li>
                        <a href="{{YUM}}#">4</a>
                    </li>
                    <li>
                        <a href="{{YUM}}#">5</a>
                    </li>
                    <li>
                        <a href="{{YUM}}#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>

</div>
</hr>
<!--
            <div id="product-post">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-section">
                                <h2>Feel free to send a message</h2>
                                <img src="images/un.png" alt="" >
                            </div>
                        </div>
                    </div>
                    <div id="contact-us">
                        <div class="container">
                            <div class="row">
                                <div class="product-item col-md-12">
                                    <div class="row">
                                        <div class="col-md-8">  
                                            <div class="message-form">
                                                <form action="#" method="post" class="send-message">
                                                    <div class="row">
                                                    <div class="name col-md-4">
                                                        <input type="text" name="name" id="name" placeholder="Name" />
                                                    </div>
                                                    <div class="email col-md-4">
                                                        <input type="text" name="email" id="email" placeholder="Email" />
                                                    </div>
                                                    <div class="subject col-md-4">
                                                        <input type="text" name="subject" id="subject" placeholder="Subject" />
                                                    </div>
                                                    </div>
                                                    <div class="row">        
                                                        <div class="text col-md-12">
                                                            <textarea name="text" placeholder="Message"></textarea>
                                                        </div>   
                                                    </div>                              
                                                    <div class="send">
                                                        <button type="submit">Send</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="info">
                                                <p>Student Idea team is always available to help you and ready to support you at every step of your project.</p>
                                                <ul>
                                                    <li><i class="fa fa-phone"></i>091-111-000-454</li>
                                                    <li><i class="fa fa-globe"></i>123, Gurgaon, Haryana</li>
                                                    <li><i class="fa fa-envelope"></i><a href="#">info@studentidea.com</a></li>
                                                </ul>
                                            </div>
                                        </div>     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-section">
                                <h2>Find Us On Map</h2>
                                <img src="images/un.png" alt="" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="googleMap" style="height:420px;"></div>
                        </div>
                    </div>     
                </div>
            </div>
-->
</div>

            <footer>
                <div class="container">
                    <div class="top-footer">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="subscribe-form">
                                    <span>Get in touch with us</span>
                                    <form method="get" class="subscribeForm">
                                        <input id="subscribe" type="text" />
                                        <input type="submit" id="submitButton" />
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="social-bottom">
                                    <span>Follow us:</span>
                                    <ul>
                                        <li><a href="{{YUM}}#" class="fa fa-facebook"></a></li>
                                        <li><a href="{{YUM}}#" class="fa fa-twitter"></a></li>
                                        <li><a href="{{YUM}}#" class="fa fa-rss"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-footer">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="about">
                                    <h4 class="footer-title">About Student Idea</h4>
                                    <p><span class="blue">Student</span><span class="green"> Idea</span> is a concept in which we helps student to complete their projects and also helps young minds who wants to start their venture.
                                    <br><br>Student Idea is starts by <span class ="blue">Anurag Sharma</span> and<span class="green"> Rishika Kalsi </span>Now she is Vice President of Student Idea.</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="shop-list">
                                    <h4 class="footer-title">Shop Categories</h4>
                                    <ul>
                                         <li><a href="{{YUM}}project_detail.html"><i class="fa fa-angle-right"></i>BCA Projects</a></li>
                                        <li><a href="{{YUM}}project_mca.html"><i class="fa fa-angle-right"></i>MCA Projects</a></li>
                                        <li><a href="{{YUM}}project_btech.html"><i class="fa fa-angle-right"></i>B.Tech Projects</a></li>
                                        <li><a href="{{YUM}}project_res.html"><i class="fa fa-angle-right"></i>Research Projects</a></li>
                                        <li><a href="{{YUM}}project_mtech.html"><i class="fa fa-angle-right"></i>M.Tech Projects</a></li>
                                        <li><a href="{{YUM}}project_bsc.html"><i class="fa fa-angle-right"></i>B.Sc(Comp. Sci.) Projects</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="recent-posts">
                                    <h4 class="footer-title">Recent Posts</h4>
                                    <div class="recent-post">
                                        <div class="recent-post-thumb">
                                            <img src="{{YUM}}images/Matlab_Logo_recent.png" alt="">
                                        </div>
                                        <div class="recent-post-info">
                                            <h6><a href="{{YUM}}#">Matlab</a></h6>
                                            <span>24/12/2084</span>
                                        </div>
                                    </div>
                                    <div class="recent-post">
                                        <div class="recent-post-thumb">
                                            <img src="{{YUM}}images/qu_recent.jpg" alt="">
                                        </div>
                                        <div class="recent-post-info">
                                            <h6><a href="{{YUM}}#">Quantum Computing</a></h6>
                                            <span>18/12/2084</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="more-info">
                                    <h4 class="footer-title">More info</h4>
                                    <p>For further information Call us or Drop an email .</p>
                                    <ul>
                                        <li><i class="fa fa-phone"></i>091-111-000-454</li>
                                        <li><i class="fa fa-globe"></i>123, Gurgaon, Haryana</li>
                                        <li><i class="fa fa-envelope"></i><a href="{{YUM}}#">info@projectidea.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-footer">
                        <p>Copyright © 2015 <a href="#">Project Idea</a></p>
                    </div>
                    
                </div>
            </footer>
        <script src="{{YUM}}js/vendor/jquery-1.11.0.min.js"></script>
        <script src="{{YUM}}js/vendor/jquery.gmap3.min.js"></script>
        <script src="{{YUM}}js/plugins.js"></script>
        <script src="{{YUM}}js/main.js"></script>

        <script src="{{YUM}}http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&amp;sensor=false">
        </script>
                
        <script>
		
		var map;
		
        function initialize()
        {
			var map_options = {
			  center: new google.maps.LatLng(16.8496189,96.1288854),
			  zoom: 15,
			  mapTypeId:google.maps.MapTypeId.ROADMAP
			  };
			var map = new google.maps.Map(document.getElementById("googleMap"), map_options);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
		google.maps.event.addDomListener(window, "resize", function() 
		{
		 	var center = map.getCenter();
		 	google.maps.event.trigger(map, "resize");
		 	map.setCenter(center); 
		});
        </script>

    </body>
</html>